.homepage {
  position: relative;
  background-image: url('../images/main-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  .homepage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 2;
    .homepage-social-media {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      color: $color-primary;
      font-size: 25px;
      margin-right: $base-spacing * 5;
      margin-top: $base-spacing * 2;
      li {
        margin-right: $base-spacing * 5;
      }
    }
    .homepage-main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .homepage-nav {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-weight: lighter;
        color: $color-primary;
        margin-top: $base-spacing * 3;
        font-size: 20px;
        font-family: "$mdb-font-family";
        .main-nav {
          padding: 0 0 10px;
          position: relative;
          text-decoration: none;
        }
        .main-nav::after {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background: #fff;
          content: '';
          opacity: 0;
          -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
          -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
          transition: height 0.3s, opacity 0.3s, transform 0.3s;
          -webkit-transform: translateY(-10px);
          -moz-transform: translateY(-10px);
          transform: translateY(-10px);
        }
        .main-nav:hover::after,
        .main-nav:focus::after {
          height: 5px;
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          transform: translateY(0px);
        }
        .main-nav:hover {
          color: $gray-light;
        }
    }
    .logo-name {
      width: 600px;
    }
  }
}
}